.sidebar {
    bottom: 0;
    border-right: 1px #ccc solid;
    float: left;
    font-size: 16px;
    margin: 0;
    margin-top: 50px;
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    top: 0;
    width: 275px;
    overflow-x: hidden;
}

.sidebar-option {
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    overflow:hidden;
    width: 100%;
}

.sidebar-option-title {
    margin-bottom: 8px;
}

.content {
    margin-left: 275px;
}