.header-menu {
    background-color: #222;
    border-bottom: 1px #ccc solid;
    display: inline-block;
    height: 50px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-menu-option-selected,
.header-menu-option {
    color: #ccc;
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 16px;
}

.header-menu-option-selected {
    background-color: #ccc;
    color: #222;
    cursor: pointer;
}