.processes {
    margin: auto;
    margin-top: 64px;
    margin-bottom: 256px;
    border: 1px #ccc solid;
}

.processes-row {
    border: 1px #ccc solid;
}

.processes-cell {
    border: 1px #ccc solid;
    padding: 8px;
}

.process-cell-action {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    position: relative;
}

.process-cell-action .cell-action-tooltip-text {
    pointer-events: none;
    visibility: hidden;
    width: 100px;
    background-color: #222;
    color: #ccc;
    text-align: center;
    border: 1px #ccc solid;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    margin-top: 4px;
}

.process-cell-action:hover .cell-action-tooltip-text {
    visibility: visible;
}
