.software-table {
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    border: 1px #ccc solid;
}

.software-row {
    border: 1px #ccc solid;
}

.software-cell{
    border: 1px #ccc solid;
    padding: 8px;
    text-align: right;
}

.software-action {
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
}